.box {
    font-family : Helvetica,Arial,sans-serif;
    font-size : 40px;
    line-height : 300px;

    position : absolute;
    top : 50%;
    left : 50%;

    width : 70%;
    min-height : 300px;
    margin-top : -150px;
    margin-left : -35%;

    text-align : center;

    color : #fff;
    border-radius : 6px;
}
