extends layout

block content
  div.flex-center.position-ref.full-height
    div.content
      div.title.m-b-md #{title}
  div
    ul
     each val, key in data
       li= key + ' : ' + val

  script(src='/scripts/common-a9e57ec4d9.js')
  script(src='/scripts/index/main-6309c09813.js')