extends ./layout/layout.jade

append head
  link(rel='stylesheet', href='/styles/demo/index-fb5ab600f0.css')

append scripts
  script(src='/scripts/common-a9e57ec4d9.js')
  script(src='/scripts/demo/index/main-421a5b60d4.js')
